body{
    background: #ffe2e3;
}
div{
    width: 960px;
    margin: 0 auto;
    padding: 50px;
}
button{    
    background-color: hsl(187deg 100% 42%);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.but{
    width: 300px;
}
p{
    font-size: 20px;
}